html *
{
   font-size: 26px;
   font-family:'Times New Roman', Times, serif
}

body {
  margin: 0;
}

body, html {
  height: 100%;
}

/* Navigation */
nav{
  display: block;
  position: fixed;
  z-index: 999;
}

.navigation {
  opacity: 0.75;
}

.navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.navigation li {
  float: left;
}
.navigation li button{
  background-color: darkgray;
}

.navigation a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
  background-color: lightgreen;
  color: black;
}

.navigation .icon {
  display: none;
}

/* Backgrounds */

.bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no repeat;
  background-size: cover;
}

.bg_home{
  height: 100%;
  background-image: url('https://static.pexels.com/photos/169573/pexels-photo-169573.jpeg');
  
}
#p{
  position: relative;
  bottom: 220px;
  font-size:xxx-large;
  font-weight: 500;
}
font{
  font-size:xxx-large;
}
.bg_about_me{
  height: 180px;
  background-color: lightgray;
}
.about{
    text-align:center;
    padding-top: 30px;
    
}
.bg_projects{
  height:80% ;
  background-image: url('https://i.pinimg.com/originals/a0/c8/de/a0c8de02ddd2fd91cc142bc3b2c09b25.jpg');
}
.bg_contact{
  height: 50px;
  background-color: lightgray;
  margin: 0;
  padding-top: 5px;
  text-align: center;
}

footer ul a img{
  max-width: auto;
  max-height: 35px;
  z-index: 998;
}

/* Other vital things */
.caption {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
.border{
  background-color: rgba(156, 167, 180, 0.5);
  padding: 25px;
  font-size: 25px;
  border-radius: 15px 50px;
}
/* thumbnail */
.thumbnail-container{
  position: relative;
  top : 50%;
  width: 70%;
  text-align: center;
}

.thumbnail-container ul{
  margin: 0;
  padding: 0;

}
.thumbnail-container li {
  list-style-type: none;
  display: inline-block;
  margin-left: 5px;
}

.thumbnail{
  width: 200px;
  
}
.thumbnail img{
  max-width: 200px;
  height: auto;
  border-radius: 20%;

}

/* For tablets */
@media only screen and (max-width: 600px){
  .navigation ul li:not(:first-child){display:none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
  
  /* When menu button is toggled */
  .navigation.toggled {position: relative;}
  .navigation.toggled ul li{
    float: none;
    display: block;
  }
  .navigation.toggled a.icon{
    position: absolute;
    top: 0;
    right: 0;
  }
  
  /* Display caption nicely on tablets */
  .caption{
    top: 40%;
  }
  .border{
    background-color: rgba(156, 167, 180, 0.5);
    padding: 20px;
    display: block;
   }
  .thumbnail-container{
    top : 30%;
  }
}

/* For phones */
@media only screen and (max-width: 450px){
  .navigation ul li:not(:first-child){display:none;}
  .navigation a.icon {
    float: right;
    display: block;
  }
  
  /* When menu button is toggled */
  .navigation.toggled {position: relative;}
  .navigation.toggled ul li{
    float: none;
    display: block;
  }
  .navigation.toggled a.icon{
    position: absolute;
    top: 0;
    right: 0;
  }
  
  /* Display caption nicely on phones */
  .caption{
    top: 40%;
  }
  .border{
    background-color: rgba(156, 167, 180, 0.5);
    padding: 20px;
    display: block;
    }
  
  /* Display thumbnail nicely on phones */
  .bg_projects{
    height: auto;
    min-height: 100vh;
  }
}

.fa-instagram{
    background-color: antiquewhite;
}

   /* project cards*/
:root{
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(.1, .7, 0, 1);
}


.wrapper{
  display: flex;
  position: relative;
  left: 150px;
  bottom: 120px;

}

.items{
  display: flex;
  gap: 0.5rem;
  perspective: calc(var(--index) * 35);
}

.item{
  width: calc(var(--index) * 4);
  height: calc(var(--index) * 16);
  background-color: #222;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(.5);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.item::after{
  left: calc(var(--index) * -1);
}

.items .item:hover{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.items .item:hover + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.items .item:hover + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.items .item:hover + * + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
  z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
width: 28vw;
filter: inherit;
z-index: 100;
transform: translateZ(calc(var(--index) * 10));
  margin: 0 .45vw;
}

.hidden-text {
  display: none;
  color: white;
  text-align: center;
  margin-top: 10px;
}

.item:focus .hidden-text {
  display: block;
}

